@model Cdmx.Scg.Sancionados.Web.Models.TipoOrigenViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IconPage = "albums";
    ViewBag.TitlePage = "Catálogo de Tipo de Orígen";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h6>Editar registro</h6>
        <hr class="green" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.IdTipoOrigen, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.IdTipoOrigen, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.IdTipoOrigen, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescOrigen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescOrigen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescOrigen, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group ">

            <div class="row">
                <div class="mx-auto">
                    <a href="@Url.Action("Index")" class="btn btn-primary ml-5">Cancelar<span class="fa fa-ban ml-3" aria-hidden="true"></span></a>

                    <button type="submit" class="btn btn-primary ml-5">Guardar<span class="fa fa-save ml-3"></span></button>
                </div>
            </div>

        </div>
    </div>
    
}

